@model Numbers

<table class="table table-bordered table-striped table-hover table-sm">
    <tr>
        <td>FirstNumber</td>
        <td>
            <input type="text" disabled  asp-for="FirstNumber" class="form-control" />
        </td>
    </tr>
    <tr>
        <td>SecondNumber</td>
        <td>
            <input type="text" disabled asp-for="SecondNumber" class="form-control" />
        </td>
    </tr>
    <tr>
        <td>Result</td>
        <td>
            <input type="text" asp-for="Result" class="form-control" />
        </td>
    </tr>
    
</table>