@model Eshop.Models.StudentBookComplexObject

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<h4>StudentBookComplexObject</h4>
<hr />
<input asp-for="Student.FirstName" type="text" />
<input asp-for="Book.BookName" type="text" />
